<link rel='stylesheet' href='/stylesheets/style.css' />

<h3 class="post">{{resTitle}}</h3>

<p class="post">
    <span class="post"><a href="/">Home</a> </span>
    <span class="post">|</span>
    <span class="post"><a href="/reservations/add">New Reservation</a> </span>
</p>
