<link rel='stylesheet' href='/stylesheets/style.css' />

<img class="center" src="/images/dadJokes.JPG" alt="DERP." > <br/> <br/>

<div class="col-lg-10 center">
    <p class="post">{{joke}}</p> <br/>




        <span><button class="btn btn-primary" onclick="location.href='/reservations/jokey-jokes'">More Jokes</Button> </span>

    </p>
</div>
