<link rel='stylesheet' href='/stylesheets/style.css' />

<img class="center" src="/images/dadJokes.png" alt="DERP." > <br/> <br/>

<div>
    <p class="post">{{joke}}</p> <br/>




        <span><button class="btn btn-primary" onclick="location.href='/reservations/jokey-jokes'">More Jokes</Button> </span>

    </p>
</div>
