
<link rel='stylesheet' href='/stylesheets/style.css' />

<div class="container-fluid m-2">
    {{> user_messages}}
</div>

<div class="row">
  <div class="column">
    <img src="/images/Charlie.png" alt="DERP." style="width:100%">
  </div>
  <div class="column">
    <img src="/images/sign.png" alt="DERP." style="width:100%">
  </div>
  <div class="column">
    <img src="/images/People.png" alt="DERP." style="width:100%">
  </div>
</div>

<div >
<br><h2 style="font-family: 30px sans-serif"> LA CASA DEL FISHDOG</h2>
<p class="promo block" style="font-family:sans-serif">Los mejores mariscos de Cancun, prueba nuestros hotdogs, fish and chips, burritos, tacos y más.</p>
</div>
<br><br><br>

{{>open_map}}
<br>